{% extends 'todo/index.html' %}

{% block content %}
<div>
    <h2>
        <a href="{% url 'todos_list' %}"> ToDo</a>
    </h2>
    
    <ul>
        {% for todo in object_list %}
        <li>
            {{todo.title}} <br>
            {{todo.desc}} {{todo.time}}
            <button><a href="{% url 'todos_update' todo.id %}">edit</a></button>
            <button><a href="{% url 'todos_delete' todo.id %}">delete</a></button>
        </li>
        <br>
        {% endfor %}
    </ul>
    
    <button><a href="{% url 'todos_create' %}">New ToDo</a></button>
</div>

{% endblock %}
